/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body{
  background-color: #EEEEEE;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h5 {
  border-bottom: double 5px #FFC778;
}

h4 {
  background: #FFCC66;/*背景色*/

}

footer{

  height: 40px;
  width: 100%;
  text-align: center;
  margin-top: auto;
    a {color: white;}

}

.bg {
  background: image-url('login_background');
  background-size: cover;
  width: 100%;
  height: 800px;
}

#error_explanation{
  color: red;
}

.login-form{
  width: 500px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: 40px;
}

.login-form-content{
  padding: 20px;
  background: rgba(0,0,0,0.3);
  color: white;
}

/*サイドバー*/
.container{
background-color: white;
}

.sidebar{
  height: 600px;
  background-color: white;
}
/*メニューバー*/
.nav a {
  color: white;
}
/*アイコン*/
.fa-burn {
  color: red
}

.fa-smile {
  color: lime
}

.fa-grin-beam-sweat{
  color: blue
}

.fa-dizzy {
  color: red
}

.fa-circle{
  color: red
}
.fa-bell{
  color: yellow;
}


.home-header{
  background: image-url('login_background');
  height: 600px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.mod {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  .modal-inner {
    position: absolute;
    top: 8%;
    right: 0;
    left: 0;
    width: 480px;
    height: 500px;
    padding-bottom: 60px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    overflow: scroll;
  }

  .modal-header {


  }

  .modal-introduction p {
    color: #5876a3;
    width: 384px;
    line-height: 32px;

    margin: 36px auto 40px;
  }

  .modal-close-btn {

    font-size: 13px;

      height: 50px;
    border: 0;
    background-color: #f0f4f9;
    position: absolute;
       background: red;
       color: white;
       top: 2px;
       right: 5px;
       border-radius: 50%;

    cursor: pointer;

  }

  .modal-close-btn:hover {
    color: #8491a5;
    background-color: #ccd9ea;
    transition: 0.3s ease-in-out;
  }


}

.card {
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 10px 200px 40px 200px;


}

.card-title {
  margin: 0;
  color: green;
}

.card-int{
    height:auto;
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}

.intro-section{
  text-align: center;
  background-color: black;
  margin-top: 20px;
  color: white;
}

.comment-search{
  margin: 10px 80px 40px 80px;

}

/*ツールチップ*/

.tooltip2{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.tooltip2 p{
    margin:0;
    padding:0;
}
.description2 {
  display: none;
  position: absolute;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 5px;
  background: #000;
  width: 100px;
}
.description2:before {
  content: "";
  position: absolute;
  top: 0%;
  right: 95%;
  border: 15px solid transparent;
  border-top: 15px solid #000;
  margin-left: -15px;
  transform: rotateZ(90deg);
}
.tooltip2:hover .description2{
  display: inline-block;
  top: 0px;
  left: 50px;
}
/*フォロー*/

.follow-button {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #03A9F4;/*色*/
  border: solid 1px #0f9ada;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.follow-button:active {
  /*押したとき*/
   border: solid 1px #03A9F4;
   box-shadow: none;
   text-shadow: none;
}


.follow-count-list{
  display: flex;
  flex-direction: row;

}

.follow-count{

  padding: 0px 10px 5px 0px;
  margin: 5px　10px 5px 10px;
  color: blue;


}

.follow-count:hover{
color: red;

}

.follow-list__name{
  margin-right: 10px;
}

.follow-list{
margin: 10px;
border-bottom: solid 3px #ffe000;
}

.follow-list a{
  float: left;
  margin-right: 30px;

}

.intro-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 90%;
  min-width: 500px;
  border:1px dotted #FF00FF;
}

.intro-box{
  border: 2px solid #0094D6;
}

.intro-box h3{
  background: green;
  color: #FFF;
  text-align: center;

}
.intro-section3 .inner{
  padding: .5em;
}

.login-link{
  text-align: center;
  color: white;
  width: 200px;
  padding-bottom: 20px;
  margin:0 auto;
  display:block;
}

.explanation{
  margin: 50px 50px 10px 50px;
  h3{
    color: green;
    border-bottom: solid 3px #ffe000;
  }
}

.second-section{
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
}

.second-colum{
  display: flex;
  justify-content: center;

  &__content{
    text-align: center;
    margin: 20px;
    width: 350px;
  }

  p{
    margin-top: 100px;
  }
}

.third-colum{
  text-align: center;
  width: 100%;
  color: white;
  background-color: black;
}

.task-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.task-list__content{
  width: 400px;
  height: 150px;
  margin: 20px;
}
@media only screen and (min-width: 768px), print {
  .task-list div{
    margin-right: 20px;
  }
  .task-list div:nth-child(2n){
    margin-right: 0;
  }
}
